#blazor-error-ui {
    display: none;
}

.back-image {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    min-height: 100vh; /*100%? 100vh buggy?*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

.h1, h1 {
    font-size: 2rem;
}

.sidebar {
    padding: .5em;
    display: flex;
    align-content:flex-start;
}

.sidebar > button {
    align-self: flex-start;
}

.sidebar-content {
    padding-right: .5em;
    transition: width 0.35s ease;
}

.portfolio {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.portfolio-item {
    display: inline-block;
}

.portfolio-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.double-height {
    grid-row-end: span 2;
}

.double-width {
    grid-column-end: span 2;
}

.container-fluid {
    padding: 1em;
}

main.container-fluid {
    padding-top: 0;
}

/*.portfolio-item > span {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: .5em;
}*/

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.overlay-closer {
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .overlay-closer svg {
        width: 3em;
        height: 3em;
    }

.overlay-inner {
    height: 100%;
    width: 100%;
    background: #272727;
    box-shadow: 0 0 75px rgba(0,0,0,0.6);
    overflow-y: auto;
}

.shadow-filter {
    filter: drop-shadow(0 0 5px black);
}

.image-fit-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    .portfolio {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .portfolio {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .container-fluid {
        padding: 2em;
    }

    .overlay-closer {
        width: 150px;
    }
        .overlay-closer svg {
            width: 4em;
            height: 4em;
        }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    
}

